.btn__submit {
  background-color: #006BDC;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  padding: 13px 23px;
  transition: all 0.5s;
  display: inline-block;
  box-shadow: 0px 12px 19px -5px rgba(0, 107, 220, 0.68);
  letter-spacing: 1px;
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 1;
}
.btn__submit:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 25px;
  right: 0px;
  bottom: 0px;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background: #fff;
  width: 124px;
  border-radius: 30px;
  height: 50px;
}
.btn__submit:hover {
  color: #006BDC;
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 107, 220, 0.75);
}
.btn__submit:hover:after {
  transform: scale(2);
}
.btn__submit--load-more {
  text-align: center;
  padding: 9px 20px;
  width: 137px;
  margin: 0 auto 55px;
  box-shadow: none;
  display: block;
  z-index: 1;
}
.btn__submit--load-more:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 25px;
  right: 0px;
  bottom: 0px;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background: #FFB71B;
  width: 127px;
  border-radius: 30px;
  height: 50px;
}
.btn__submit--load-more:hover {
  color: #fff;
  box-shadow: 0px 0px 3px 0px #FFB71B;
}
.btn__submit--load-more:hover:after {
  transform: scale(2);
}
.btn__submit--upload-more {
  text-align: center;
  padding: 10px 20px;
  width: 223px;
  margin: 0 auto;
  display: block;
  box-shadow: none;
  z-index: 1;
}
.btn__submit--upload-more:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 25px;
  right: 0px;
  bottom: 0px;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background: #FFB71B;
  width: 133px;
  border-radius: 30px;
  height: 50px;
}
.btn__submit--upload-more:hover {
  color: #fff;
  box-shadow: 0px 0px 3px 0px #FFB71B;
}
.btn__submit--upload-more:hover:after {
  transform: scale(2);
}

.btn__link {
  background-color: #006BDC;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  transition: all 0.5s;
  display: inline-block;
  box-shadow: none;
  letter-spacing: 1px;
  width: 155px;
}
.btn__link:after {
  content: "";
  display: inline-block;
  width: 38px;
  height: 10px;
  background: url(../images/icons/forward-arrow.svg) 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  right: 18px;
  top: 16px;
}
.btn__link--read-more {
  font-size: 11px;
  background-color: #006BDC;
  box-shadow: none;
  width: 146px;
  padding: 9px 20px;
}
.btn__link--read-more:after {
  content: "";
  display: inline-block;
  width: 38px;
  height: 10px;
  background: url(../images/icons/forward-arrow.svg) 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  right: 12px;
  top: 11px;
}
.btn__link--view-more {
  background-color: #FFB71B;
  box-shadow: none;
  width: 180px;
  padding: 10px 25px;
}
.btn__link--view-more:after {
  content: "";
  display: block;
  width: 38px;
  height: 10px;
  background: url(../images/icons/forward-arrow.svg) 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  right: 26px;
  top: 16px;
}
.btn__link--get-in-touch {
  background-color: #D60812;
  display: block;
  font-weight: 600;
  padding: 10px 25px;
  width: 197px;
  margin: 0;
  letter-spacing: 1px;
  box-shadow: none;
}
.btn__link--get-in-touch:after {
  content: "";
  display: block;
  width: 38px;
  height: 10px;
  background: url(../images/icons/forward-arrow.svg) 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  right: 20px;
  top: 16px;
}
.btn__link:hover {
  color: #fff;
}
.btn__link:hover:after {
  animation: shake 0.7s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

html {
  scroll-behavior: smooth;
}

ol, ul, li, figure {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  font-family: "Manrope", sans-serif !important;
}

.container {
  max-width: 1300px;
  width: auto;
}

.heading__main {
  position: relative;
  font-size: 45px;
  line-height: 50px;
  font-weight: 800;
  color: #4D4D4D;
}
.heading__main.small-font {
  font-size: 40px;
}
.heading__main.small-size {
  font-size: 35px;
}
.heading__main:after {
  content: "";
  background-color: #D60812;
  position: absolute;
  width: 39px;
  height: 7px;
  bottom: -25px;
  z-index: 1;
  border-radius: 10px;
  left: 0;
}
.heading__main--reddish:after {
  background-color: #D60812;
  content: "";
  position: absolute;
  width: 39px;
  height: 7px;
  bottom: -25px;
  z-index: 1;
  border-radius: 10px;
  left: 0;
}
.heading__main--blueish:after {
  background-color: #006BDC;
  content: "";
  position: absolute;
  width: 39px;
  height: 7px;
  bottom: -25px;
  z-index: 1;
  border-radius: 10px;
  left: 0;
}
.heading__main--light-color {
  color: #fff;
}
.heading__main--light-color:after {
  background-color: #FFB71B;
  content: "";
  position: absolute;
  width: 39px;
  height: 7px;
  bottom: -25px;
  z-index: 1;
  border-radius: 10px;
  left: 0;
}
.heading__main--get-in-touch:after {
  background-color: #FFB71B;
  content: "";
  position: absolute;
  width: 39px;
  height: 7px;
  bottom: -25px;
  z-index: 1;
  border-radius: 10px;
  left: 0;
}
@media (max-width: 991px) {
  .heading {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .heading {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .heading {
    padding: 0 0 10px 5px;
  }
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.section__title--primary__colored {
  color: #006BDC;
}
.section__title--yellow__colored {
  color: #FFB71B;
}
.section__title--reddish {
  color: #D60812;
}
.section__title--dark__color {
  color: #D60812;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
  z-index: 10;
  left: 0;
  top: 0px;
}
.header .nav__wrapper {
  padding: 30px 0px;
}
@media (max-width: 767px) {
  .header {
    height: 90px;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .header .header__logo__holder {
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  .header__nav__holder {
    padding: 20px 0 0 0;
  }
}
@media (max-width: 767px) {
  .menu-open .header__nav__holder .nav__responsive {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 45px 0px;
  }
  .menu-open .header__nav__holder .nav__responsive .header__nav ul {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
  }
  .menu-open .header__nav__holder .nav__responsive .header__nav ul li a {
    font-size: 20px;
    padding: 5px 0px;
  }
}
.menu-open .header__nav__holder .hamburger .bar1 {
  transform: rotate(45deg) translate(6px, 3px);
}
.menu-open .header__nav__holder .hamburger .bar2 {
  transform: rotate(313deg) translate(-2px, -3px);
}
.menu-open .header__nav__holder .hamburger .bar3 {
  opacity: 0;
}
.header__nav__holder .nav__responsive {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header__nav__holder .nav__responsive {
    position: absolute;
    right: -20px;
    top: 100%;
    background: #fff;
    padding: 10px;
    display: none;
    box-shadow: 5px 3px 16px rgba(0, 0, 0, 0.16);
    min-height: 500px;
    justify-content: center;
    text-align: center;
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    padding: 45px 0px;
  }
}
.header__nav__holder .header__nav ul {
  display: flex;
}
@media (max-width: 767px) {
  .header__nav__holder .header__nav ul {
    flex-direction: column;
    margin: 40px 0px;
  }
}
.header__nav__holder .header__nav ul li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d;
  margin: 0px 33px 0px 0px;
  position: relative;
  z-index: 0;
  text-decoration: none;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .header__nav__holder .header__nav ul li a {
    font-size: 20px;
    padding: 5px 0px;
  }
}
@media (max-width: 991px) {
  .header__nav__holder .header__nav ul li a {
    padding: 0px 5px 0px 10px;
  }
}
.header__nav__holder .header__nav ul li a:hover {
  color: #006BDC;
}
.header__nav__holder .header__nav ul li a:hover:after {
  width: 100%;
}
.header__nav__holder .header__nav ul li a:after {
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 0;
  height: 1px;
  background-color: #006BDC;
  transition: width 0.3s;
}
.header__nav__holder .hamburger {
  cursor: pointer;
  margin: 0 0 0 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  text-align: center;
  display: flex;
  display: none;
  background-color: #006BDC;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .header__nav__holder .hamburger {
    display: flex;
    margin: 0 0 0 5px;
  }
}
.header__nav__holder .hamburger .bar1,
.header__nav__holder .hamburger .bar5 {
  height: 2px;
  border-radius: 50px;
  background-color: #fff;
  transition: 0.4s;
  display: block;
  width: 25px;
  position: absolute;
  top: 15px;
  height: 3px;
}
.header__nav__holder .hamburger .bar2,
.header__nav__holder .hamburger .bar4 {
  height: 2px;
  border-radius: 50px;
  background-color: #fff;
  transition: 0.4s;
  display: block;
  width: 25px;
  position: absolute;
  top: 22px;
  right: 5px;
}
.header__nav__holder .hamburger .bar3 {
  height: 2px;
  border-radius: 50px;
  background-color: #fff;
  transition: 0.4s;
  display: block;
  width: 25px;
  position: absolute;
  bottom: 14px;
}

.top__bottom__border {
  height: 4px;
  background: #006BDC;
  background-image: linear-gradient(to right, #006BDC 0%, #006BDC 17%, #D60812 17%, #D60812 33%, #006BDC 33%, #006BDC 49%, #D60812 49%, #D60812 65%, #006BDC 65%, #006BDC 80%, #D60812 80%, #D60812 100%);
}

.footer {
  padding: 40px 0px;
  background-color: #F7F9FC;
}
@media (max-width: 991px) {
  .footer {
    padding: 35px 0 0px 0;
  }
}
.footer__nav__menu ul {
  display: flex;
  margin: 30px 0px 25px 0;
}
.footer__nav__menu ul li a {
  font-size: 15px;
  font-weight: 700;
  color: #4d4d4d;
  text-transform: uppercase;
  z-index: 0;
  cursor: pointer;
  margin: 0 18px 0 0;
  position: relative;
  letter-spacing: 1.5px;
}
.footer__nav__menu ul li a:hover {
  color: #006BDC;
}
.footer__nav__menu ul li a:hover:after {
  width: 100%;
}
.footer__nav__menu ul li a:after {
  position: absolute;
  right: 0px;
  bottom: 0;
  left: 0;
  display: inline-block;
  content: "";
  width: 0;
  height: 1px;
  background-color: #006BDC;
  transition: width 0.3s;
}
.footer__social__media h3 {
  display: flex;
  align-items: flex-end;
  color: #4D4D4D;
  font-size: 15px;
  justify-content: flex-end;
  font-weight: 600;
  margin-bottom: 0;
  margin: 40px 0px 0 0;
}
.footer__social__media a {
  margin: 0 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.footer__social__media a i {
  color: #7a7a7a;
  font-size: 20px;
}
.footer__social__media a:hover i {
  color: #006BDC;
}
.footer__social__media p {
  font-size: 16px;
  color: #575f6b;
  margin-bottom: 20px;
}
.footer__social__media p a {
  color: #d60812;
  text-decoration: underline;
}
.footer__social__media p a:hover {
  color: #006BDC;
}
.footer__copy__right {
  font-size: 14px;
  margin: -18px 0 0 0;
}
.footer__copy__right p {
  font-size: 18px;
  color: #241e1e;
  letter-spacing: 2.4px;
  font-weight: 600;
  display: flex;
  margin-bottom: 0;
  align-items: center;
}
.footer__copy__right p span {
  font-size: 38px;
  color: #D60812;
  padding: 0 10px;
  font-weight: 100;
}

.banner {
  margin: 120px 0 0;
  z-index: 1;
  position: relative;
  min-height: 815px;
}
@media (max-width: 1199px) {
  .banner__content__wrapper {
    min-height: 460px;
  }
}
@media (max-width: 767px) {
  .banner__content__wrapper {
    min-height: 295px;
    justify-content: flex-start;
  }
}
.banner__content__wrapper h2 {
  font-size: 55px;
  font-weight: 800;
  color: #006BDC;
  font-family: "Manrope", sans-serif;
  position: relative;
  line-height: 58px;
}
.banner__content__wrapper h2:after {
  background-color: #D60812;
  content: "";
  position: absolute;
  width: 39px;
  height: 7px;
  bottom: -30px;
  z-index: 1;
  border-radius: 10px;
  left: 0;
}
@media (max-width: 1199px) {
  .banner__content__wrapper h2 {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  .banner__content__wrapper h2 {
    font-size: 30px;
  }
}
.banner__content__wrapper p {
  font-size: 18px;
  color: #241e1e;
  margin: 55px 0 25px 0;
  line-height: 30px;
}
@media (max-width: 767px) {
  .banner__content__wrapper p {
    font-size: 13px;
  }
}
.banner__left__link {
  position: absolute;
  bottom: 42%;
  font-size: 16px;
  left: -168px;
  text-align: right;
  width: 385px;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 1.5px;
  transform: rotate(270deg);
  font-weight: 400;
}
.banner__left__link:after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #4D4D4D;
  position: absolute;
  right: -40px;
  top: 20px;
}
.banner__left__link:before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #4D4D4D;
  position: absolute;
  left: 50px;
  top: 16px;
}
@media (max-width: 1199px) {
  .banner__left__link {
    padding: 20px 35px;
    width: 460px;
    bottom: -60px;
  }
}
@media (max-width: 767px) {
  .banner__left__link {
    bottom: 3px;
  }
}
@media (max-width: 576px) {
  .banner__left__link {
    padding: 15px 25px;
    width: 410px;
    bottom: 15px;
  }
}
.banner__left__link span {
  font-size: 14px;
}
@media (max-width: 576px) {
  .banner__left__link span {
    font-size: 12px;
  }
}
.banner__left__link a {
  color: #4D4D4D;
  display: inline-block;
  padding: 0 5px;
}
.banner__left__link a:hover {
  color: #006BDC;
}
.banner__social__medias__holder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0px;
  bottom: 38%;
  color: #4D4D4D;
}
.banner__social__medias__holder a {
  display: flex;
  color: #4D4D4D;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 20px 10px 0;
  border: 2px solid #4D4D4D;
  transition: background-color 0.4s ease;
}
.banner__social__medias__holder a:hover:nth-child(1) {
  background-color: #f8d301;
  background-image: linear-gradient(90deg, #f8d301 0%, #f8060b 29%, #bf2f7c 60%, #7f3cb1 100%);
  color: #fff;
  border: transparent;
}
.banner__social__medias__holder a:hover:nth-child(2) {
  background-color: #45619d;
  color: #fff;
  border: transparent;
}
.banner__social__medias__holder a:hover:nth-child(3) {
  background-color: #0077b7;
  color: #fff;
  border: transparent;
}
.banner__social__medias__holder p {
  transform: rotate(270deg);
  margin-bottom: 0;
  margin-top: 37px;
  letter-spacing: 1.5px;
  transform: rotate(270deg);
  margin-bottom: 20px;
  margin-top: 37px;
  letter-spacing: 1.5px;
  margin-right: -12px;
}
@media (max-width: 767px) {
  .banner__social__medias__holder {
    padding-bottom: 15px;
  }
}
.banner__social__medias__holder:after {
  content: "";
  display: block;
  width: 2px;
  height: 62px;
  background-color: #4d4d4d;
  position: absolute;
  bottom: -90px;
  right: 35px;
}
.banner__social__medias__holder:before {
  content: "";
  display: block;
  width: 2px;
  height: 62px;
  background-color: #4d4d4d;
  position: absolute;
  top: -72px;
  right: 40px;
}
.banner .slick-slider-1 .slick-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -35px;
}
.banner .slick-slider-1 .slick-dots .slick-active button {
  background: #fff;
  opacity: 1;
  border: 4px solid #006BDC;
  height: 16px;
  width: 16px;
}
.banner .slick-slider-1 .slick-dots li {
  display: inline-block;
  margin: 0 14px 0 0;
}
.banner .slick-slider-1 .slick-dots li button {
  border: 0;
  background: #888787;
  display: block;
  height: 8px;
  width: 8px;
  outline: 0;
  color: transparent;
  cursor: pointer;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.4s ease;
  box-shadow: 1px 2px 8px rgba(36, 65, 93, 0.3);
  position: relative;
  padding: 0;
}
.banner .slick-slider-1 .banner__slider__item__holder {
  margin-top: 55px;
}
.banner .slick-slider-1 .banner__slider__item__holder figure img {
  margin: 0 auto;
}
.banner .slick-slider-1 .banner__slider__item__holder h4 {
  color: #999999;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  position: relative;
  margin-top: -27px;
}
.banner .slick-slider-1 .banner__slider__item__holder h4:before {
  content: "";
  display: block;
  width: 16px;
  height: 1px;
  background-color: #999999;
  position: absolute;
  left: 40%;
  top: 9px;
}

.services {
  padding: 80px 0px;
  min-height: 700px;
  background: #F7F9FC;
  position: relative;
  overflow: hidden;
}
.services:after {
  content: "";
  position: absolute;
  background: url(../images/bg/tiny-dotted-arrow.png) center center no-repeat;
  width: 203px;
  height: 194px;
  left: -74px;
  bottom: 80px;
}
.services:before {
  content: "";
  position: absolute;
  background: url(../images/bg/small-arrow-dotted.png) center center no-repeat;
  width: 255px;
  height: 254px;
  right: -92px;
  top: 100px;
}
.services__item {
  border: 1px solid #fff;
  border-radius: 40px;
  background: #F7F9FC;
  box-shadow: 0px 12px 27px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.6s ease;
  padding: 15px;
  position: relative;
  display: inline-block;
  transform: scale(1);
  overflow: hidden;
  margin-bottom: 50px;
  z-index: 2;
}
.services__item:hover {
  background: #D60812;
  box-shadow: -1px 9px 36px -14px black;
  border: 1px solid #D60812;
}
.services__item a {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 30px;
}
.services__item a span {
  font-size: 21px;
  color: #575f6b;
  font-weight: 700;
  margin: 15px 0px;
}
@media (min-width: 1400px) {
  .services__item a span {
    margin: 10px 0px;
  }
}
.services__item a p {
  font-size: 15px;
  color: #4D4D4D;
}

.our__works {
  padding: 80px 0 155px 0;
  position: relative;
}
.our__works .slick-slider-2 .slick-arrow {
  border: 0;
  background-color: #006BDC;
  display: block;
  height: 50px;
  width: 50px;
  outline: 0;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.4s ease;
  position: absolute;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  bottom: -13%;
}
.our__works .slick-slider-2 .slick-prev {
  background-image: url(../images/icons/chevron-left.svg);
  right: 51%;
}
.our__works .slick-slider-2 .slick-next {
  background-image: url(../images/icons/chevron-right.svg);
  left: 51%;
}
.our__works .slick-slider-2 .our__works__slider {
  margin: 85px 20px;
  width: 390px;
  height: 465px;
}
.our__works .slick-slider-2 .our__works__slider.slick-center {
  transform: scale(1.2);
  width: 400px;
  height: 520px;
}
.our__works .slick-slider-2 .our__works__slider.slick-center .our__works__slider__item {
  min-height: 465px;
}
.our__works .slick-slider-2 .our__works__slider.slick-center .our__works__slider__item .our__works__slider__item__holder .item__details h6 {
  font-size: 16px;
}
.our__works .slick-slider-2 .our__works__slider.slick-center .our__works__slider__item .our__works__slider__item__holder .item__details h4 {
  margin-bottom: 15px;
}
.our__works .slick-slider-2 .our__works__slider.slick-center .our__works__slider__item .our__works__slider__item__holder .item__details p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 18px;
}
.our__works .slick-slider-2 .our__works__slider.slick-center .our__works__slider__item .our__works__slider__item__holder .item__details .btn__link--read-more {
  display: block;
}
.our__works .slick-slider-2 .our__works__slider__item {
  background-color: #F6F6F6;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 15px;
  box-shadow: 0px 12px 27px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-right: 20px;
  margin: 0 10px;
}
.our__works .slick-slider-2 .our__works__slider__item__holder {
  background: #fff;
  border-radius: 30px;
  padding: 15px;
}
.our__works .slick-slider-2 .our__works__slider__item__holder figure img {
  width: 100%;
}
.our__works .slick-slider-2 .our__works__slider__item__holder .item__details {
  padding: 20px 10px 0;
}
.our__works .slick-slider-2 .our__works__slider__item__holder .item__details h6 {
  font-size: 12px;
  color: #ffb71b;
  text-transform: lowercase;
  margin-bottom: 0;
  padding: 0 0 4px 0;
}
.our__works .slick-slider-2 .our__works__slider__item__holder .item__details h4 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}
.our__works .slick-slider-2 .our__works__slider__item__holder .item__details p {
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  line-height: 21px;
}
.our__works .slick-slider-2 .our__works__slider__item__holder .item__details .btn__link--read-more {
  display: none;
}
.our__works figure.particle {
  position: absolute;
}
.our__works .blue__star {
  top: 4%;
  left: 2%;
  animation: round1 5s infinite;
}
@keyframes round1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.our__works .yellow__dot {
  top: 42%;
  left: 9%;
  animation: rotateYLogo2 2s infinite ease-in-out;
}
@keyframes rotateYLogo2 {
  0% {
    transform: translateZ(0) scale(1);
  }
  50% {
    transform: translateZ(150px) scale(0.7);
  }
  80% {
    transform: translateZ(0) scale(1);
  }
  100% {
    transform: translateZ(0) cale(1);
  }
}
.our__works .red__diamond {
  bottom: 5%;
  left: 2%;
  animation: shake2 5s infinite;
}
@keyframes shake2 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
.our__works .yellow__diamond {
  top: 10%;
  right: 25%;
  animation: shake1 5s infinite;
}
@keyframes shake1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
.our__works .red__star {
  top: 25%;
  right: 5%;
  animation: rotateYLogo1 2s infinite ease-in-out;
}
@keyframes rotateYLogo1 {
  0% {
    transform: translateZ(0) scale(1);
  }
  50% {
    transform: translateZ(150px) scale(0.7);
  }
  80% {
    transform: translateZ(0) scale(1);
  }
  100% {
    transform: translateZ(0) cale(1);
  }
}
.our__works .blue__dot {
  bottom: 8%;
  right: 2%;
  animation: dot-jump 5s infinite;
}
@keyframes dot-jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

.blog {
  padding: 80px 0px;
  background-image: url(../images/place-holder/global-bg-blog.png);
  background-color: #006BDC;
  background-size: cover;
  background-position: bottom;
}
.blog__latest__outer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blog__main {
  background: #006bdca3;
  color: #fff;
  border: 1px solid #0A8DFF;
  box-shadow: 0px 2px 18px -12px rgba(0, 0, 0, 0.55);
  padding: 20px;
  margin-top: 30px;
  border-radius: 40px;
}
.blog__main figure {
  height: 260px;
}
.blog__main figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.blog__main h6 {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 14px;
}
.blog__main h4 {
  font-size: 35px;
  line-height: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}
.blog .published__blog__wrapper {
  padding-right: 25px;
  position: relative;
  overflow-y: scroll;
  height: 661px;
  overflow-x: hidden;
  padding-left: 65px;
}
.blog .published__blog__wrapper .blog__list {
  background: #006bdca3;
  color: #fff;
  border: 1px solid #0A8DFF;
  box-shadow: 0px 3px 29px -17px rgba(0, 0, 0, 0.75);
  padding: 18px;
  border-radius: 35px;
  margin: 0 0 45px 0;
  transition: all 0.5s;
}
.blog .published__blog__wrapper .blog__list:hover {
  background: #fff;
}
.blog .published__blog__wrapper .blog__list:hover .blog__list__details p,
.blog .published__blog__wrapper .blog__list:hover .blog__list__details h5,
.blog .published__blog__wrapper .blog__list:hover .blog__list__details h6 {
  color: #000;
}
.blog .published__blog__wrapper .blog__list a {
  display: flex;
}
.blog .published__blog__wrapper .blog__list a figure {
  width: 230px;
  height: 145px;
  flex: 0 0 auto;
}
.blog .published__blog__wrapper .blog__list a figure img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.blog .published__blog__wrapper .blog__list__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
.blog .published__blog__wrapper .blog__list__details h6 {
  font-size: 15px;
  color: #FFB71B;
}
.blog .published__blog__wrapper .blog__list__details p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s;
  line-height: 24px;
}
.blog .published__blog__wrapper .blog__list__details h5 {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  transition: all 0.5s;
}

#scroll-news::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(61, 61, 61, 0.644);
}

::-webkit-scrollbar-thumb {
  background: #FFB71B;
  border-radius: 20px;
}

.job__opening {
  padding: 80px 0px;
  position: relative;
}
.job__opening__wrapper {
  background: #F9F9F9;
  display: inline-block;
  border: 1px solid #fff;
  box-shadow: 0px 1px 21px -13px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  padding: 15px;
  width: 100%;
  margin-bottom: 30px;
}
.job__opening__wrapper:hover {
  background: #227FE1;
  box-shadow: 0px 6px 17px -5px #000000e8;
  border: 1px solid #006BDC;
}
.job__opening__wrapper .job__opening__holder {
  display: flex;
  background: #fff;
  border-radius: 20px;
  padding: 20px 30px 20px 10px;
}
.job__opening__wrapper .job__opening__holder .job__details {
  padding-left: 30px;
}
.job__opening__wrapper .job__opening__holder .job__details h6 {
  color: #2A2A30;
  font-weight: 600;
  font-size: 19px;
}
.job__opening__wrapper .job__opening__holder .job__details p {
  color: #7E7E7E;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}
.job__opening__wrapper .job__opening__holder .job__details p span {
  color: #2A2A30;
  font-weight: 600;
  font-size: 14px;
}
.job__opening__wrapper .job__opening__holder .job__details h5 {
  color: #2A2A30;
  font-size: 14px;
}
.job__opening__quote {
  color: #4D4D4D;
  font-size: 23px;
  text-align: center;
  line-height: 34px;
  margin: 15px 0 40px 0;
  font-weight: 500;
}
.job__opening figure.particle {
  position: absolute;
}
.job__opening .green__diamond {
  top: 7%;
  left: 8%;
  animation: blinkstar2 3s infinite ease-in-out;
}
@keyframes blinkstar2 {
  0% {
    transform: translateZ(0) rotateY(0);
  }
  50% {
    transform: translateZ(150px) rotateY(190deg);
  }
  80% {
    transform: translateZ(0) rotateY(360deg);
  }
  100% {
    transform: translateZ(0) rotateY(360deg);
  }
}
.job__opening .red__diamond {
  top: 8%;
  right: 31%;
  animation: rotateYLogo3 2s infinite ease-in-out;
}
@keyframes rotateYLogo3 {
  0% {
    transform: translateZ(0) scale(1);
  }
  50% {
    transform: translateZ(150px) scale(0.7);
  }
  80% {
    transform: translateZ(0) scale(1);
  }
  100% {
    transform: translateZ(0) cale(1);
  }
}
.job__opening .blue__arrow {
  top: 3%;
  right: 2%;
  animation: shake3 5s infinite;
}
@keyframes shake3 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
.job__opening .red__tiny {
  top: 41%;
  left: 2%;
  animation: shake1 5s infinite;
}
@keyframes shake1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
.job__opening .yellow__star {
  bottom: 35%;
  left: 7%;
  animation: rotateYLogo1 2s infinite ease-in-out;
}
@keyframes rotateYLogo1 {
  0% {
    transform: translateZ(0) scale(1);
  }
  50% {
    transform: translateZ(150px) scale(0.7);
  }
  80% {
    transform: translateZ(0) scale(1);
  }
  100% {
    transform: translateZ(0) cale(1);
  }
}
.job__opening .red__dot {
  bottom: 63%;
  right: 8%;
  animation: dot-jump 5s infinite;
}
@keyframes dot-jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}
.job__opening .yellow__tiny {
  bottom: 24%;
  right: 2%;
  animation: dot-jump 5s infinite;
}
@keyframes dot-jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

.contact__us {
  background-color: #006BDC;
  padding: 40px 0;
  position: relative;
  box-shadow: 0px -12px 57px -30px #000000;
}
.contact__us:after {
  content: "";
  width: 190px;
  display: block;
  height: 264px;
  background-image: url(../images/icons/dotted-curve.svg);
  background-size: 240px;
  position: absolute;
  top: -37px;
  z-index: 1;
  right: 170px;
  background-repeat: no-repeat;
}
.contact__us__quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__us__quote .to-top {
  position: absolute;
  right: 188px;
  cursor: pointer;
  width: 2px;
  height: 2px;
  background: #4d4d4d1f;
  border-radius: 50%;
  bottom: 119%;
  animation: boom-out2 1.5s linear infinite;
}
@keyframes boom-out2 {
  0% {
    box-shadow: 0 0 0 0 #4d4d4d;
  }
  100% {
    box-shadow: 0 0 0 40px rgba(77, 77, 77, 0);
  }
}
.contact__us__quote .to-top:after {
  content: "";
  display: block;
  width: 41px;
  height: 68px;
  background-image: url(../images/icons/scroll-icon.svg);
  position: absolute;
  right: -19px;
  top: -26px;
  background-repeat: no-repeat;
}

.location {
  padding: 80px 0px;
  background-image: url(../images/bg/bg-world-globe.jpg);
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 14px 21px -22px black;
  z-index: -1;
}
.location:after {
  content: "";
  position: absolute;
  background: url(../images/bg/blue-dotted-below.png) no-repeat;
  width: 284px;
  height: 181px;
  left: 0;
  bottom: -31px;
  background-size: 280px;
  background-position: bottom;
}
.location:before {
  content: "";
  position: absolute;
  background: url(../images/bg/blue-dotted-bg.png) no-repeat;
  width: 259px;
  height: 200px;
  right: 0;
  top: 0px;
}
.location__holder {
  background-color: #F7F9FC;
  border-radius: 40px;
  box-shadow: 0px 6px 29px -10px rgba(0, 0, 0, 0.23);
  position: relative;
  overflow: hidden;
  margin: 142px 0 10px 0;
  height: 410px;
  padding: 20px;
}
.location__holder .parent__company {
  height: 100%;
}
.location__holder .parent__company img {
  object-fit: none;
  object-position: right;
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.location__holder .native__company {
  height: 100%;
}
.location__holder .native__company img {
  object-fit: none;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
.location__holder__address {
  display: flex;
  color: #f7f9fc;
  position: absolute;
  top: 29%;
  left: 11%;
  background: #006bdceb;
  border-radius: 20px;
  padding: 15px;
  align-items: center;
  padding: 15px;
  width: 410px;
}
.location__holder__address:after {
  content: "";
  background: url(../images/icons/copy-click.svg) no-repeat;
  background-position: center;
  background-color: #0a8dff;
  position: absolute;
  width: 28px;
  height: 28px;
  right: 11px;
  z-index: 1;
  border-radius: 5px;
  top: 10px;
}
.location__holder__address:before {
  content: "";
  position: absolute;
  left: 45%;
  border-width: 15px;
  border-style: solid;
  border-color: #006bdceb transparent transparent transparent;
  bottom: -30px;
}
.location__holder__address figure {
  max-width: 90px;
  height: 90px;
  flex: 0 0 auto;
}
.location__holder__address figure img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: none;
}
.location__holder__address__details {
  padding: 0 0 0 15px;
}
.location__holder__address__details h4 {
  font-size: 19px;
  margin-bottom: 0px;
}
.location__holder__address__details p {
  font-size: 16px;
  margin-bottom: 0;
  display: block;
}
.location__holder__address--right {
  display: flex;
  color: #f7f9fc;
  position: absolute;
  top: 34%;
  left: 10%;
  background: #006bdceb;
  border-radius: 20px;
  padding: 15px;
  align-items: center;
  padding: 15px;
  width: 410px;
}
.location__holder__address--right:after {
  content: "";
  background: url(../images/icons/copy-click.svg) no-repeat;
  background-position: center;
  background-color: #0a8dff;
  position: absolute;
  width: 28px;
  height: 28px;
  right: 11px;
  z-index: 1;
  border-radius: 5px;
  top: 10px;
  cursor: pointer;
}
.location__holder__address--right:before {
  content: "";
  position: absolute;
  left: 45%;
  border-width: 15px;
  border-style: solid;
  border-color: #006bdceb transparent transparent transparent;
  bottom: -30px;
}
.location__name {
  font-size: 45px;
  color: #4D4D4D;
  font-weight: 700;
  text-align: center;
}
.location__one {
  position: absolute;
  top: 29%;
  right: 55%;
  width: 5px;
  height: 5px;
  background-color: #006BDC;
  border-radius: 50%;
  animation: boom-out1 1.5s linear infinite;
}
@keyframes boom-out1 {
  0% {
    box-shadow: 0 0 0 0 #006bdc;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 107, 220, 0);
  }
}
.location__one:before {
  content: "";
  background: url(../images/icons/applab-location-icon.png) no-repeat;
  background-position: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -30px;
  background-size: contain;
  right: -19px;
}
.location__two {
  position: absolute;
  top: 41%;
  right: 46%;
  width: 5px;
  height: 5px;
  background-color: #006BDC;
  border-radius: 50%;
  animation: boom-out 1.5s linear infinite;
}
@keyframes boom-out {
  0% {
    box-shadow: 0 0 0 0 #006bdc;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 107, 220, 0);
  }
}
.location__two:before {
  content: "";
  background: url(../images/icons/appstation-icon.png) no-repeat;
  background-position: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -30px;
  background-size: contain;
  right: -19px;
}

.clients {
  background: #F7F9FC;
  padding: 60px 0px;
}
.clients__list {
  display: flex;
}
.clients__list li {
  margin-right: 20px;
}
.clients__list li figure {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  padding: 10px;
}
.clients__list li figure:hover > img {
  filter: grayscale(0%);
}
.clients__list li figure img {
  width: auto;
  display: block;
  margin: 0 auto;
  filter: grayscale(100%);
}

.events {
  padding: 80px 0px;
  background-image: url(../images/bg/bg-curves.png);
  background-color: #F7F9FC;
  background-size: cover;
  box-shadow: 0px 20px 20px -21px #00000061;
  overflow: hidden;
  max-width: 100%;
}
.events .slick-slider-4 {
  margin-bottom: 130px;
  padding-top: 20px;
}
.events .slick-slider-4 .slick-arrow {
  border: 0;
  background-color: #006BDC;
  display: block;
  height: 50px;
  width: 50px;
  outline: 0;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.4s ease;
  position: absolute;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  bottom: -9%;
}
.events .slick-slider-4 .slick-next {
  background-color: #4D4D4D;
  background-image: url(../images/icons/chevron-right.svg);
  left: 51%;
}
.events .slick-slider-4 .slick-prev {
  background-color: #D60812;
  background-image: url(../images/icons/chevron-left.svg);
  right: 51%;
}
.events .slick-slider-4 .events__slider__item {
  background-color: #ebedef;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 20px;
  box-shadow: 0px 6px 35px -18px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
}
.events .slick-slider-4 .events__slider__item__pic {
  margin: auto;
  position: relative;
  width: 320px;
  height: 340px;
}
.events .slick-slider-4 .events__slider__item__pic:hover .events__pic__overlay {
  display: flex;
}
.events .slick-slider-4 .events__slider__item__pic .events__pic__overlay {
  position: absolute;
  left: 20px;
  transition: all 0.5s ease-in;
  background-color: #d60812;
  height: 86%;
  width: 86%;
  padding: 20px;
  overflow: hidden;
  top: 20px;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  opacity: 0.9;
}
.events .slick-slider-4 .events__slider__item__pic .events__pic__overlay figure {
  margin: auto;
}
.events .slick-slider-4 .events__slider__item__pic .events__pic__overlay h6 {
  font-size: 28px;
  color: #F7F9FC;
}
.events .slick-slider-4 .events__slider__item__pic img {
  border-radius: 40px;
}
.events .slick-slider-4 .slick-list {
  overflow: unset;
}
.events .slick-slider-4 .slick-list .slick-track .slick-slide {
  margin-right: 20px;
}
.events .slick-slider-4 .slick-list .slick-track .slick-slide .slick-slide > div {
  width: 360px;
  height: 380px;
}
.events .slick-slider-4 .slick-list .slick-track .slick-slide:nth-child(3n-1) {
  margin-top: 80px;
}
.events .slick-slider-4 .slick-list .slick-track .slick-slide:nth-child(3n) {
  margin-top: 35px;
}