
// utilities
@import "./utilities/mixins";
@import "./utilities/variables";

// base
@import "./base/buttons";
@import "./base/reset";
@import "./base/common";

// layout
@import "./layout/header";
@import "./layout/footer";

//pages
@import "./pages/banner";
@import "./pages/services";
@import "./pages/our-works";
@import "./pages/blog";
@import "./pages/job-lists";
@import "./pages/get-in-touch";



