.banner {
  margin: 100px 0 0;
  z-index: 1;
  position: relative;
  height: 745px;

  &__content {
    // max-width: 645px;
    // @media (max-width: 1199px) {
    //   max-width: 480px;
    // }

    h2 {
      font-size: 55px;
      font-weight: 600;
      color: $primary-color;
      position: relative;

      &:after {
        background-color: #D60812;
        content: "";
        position: absolute;
        width: 39px;
        height: 7px;
        bottom: -25px;
        z-index: 1;
        border-radius: 10px;
        left: 0;
      }

      @media (max-width: 1199px) {
        font-size: 50px;
      }

      @media (max-width: 576px) {
        font-size: 30px;
      }

    }

    p {
      font-size: 16px;
      color: #241e1e;
      margin: 50px 0 25px 0;
      @media (max-width: 767px) {
        font-size: 13px;
      }
    }

    .slick-slider-1 {

      .slick-dots {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 10px 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .slick-active {

          button {
            background: #fff;
            opacity: 1;
            border: 4px solid $primary-color;
            height: 15px;
            width: 15px;
          }
        }

        li {
          display: inline-block;
          margin: 0 8px;

          button {
            border: 0;
            background: #888787;
            display: block;
            height: 12px;
            width: 12px;
            outline: 0;
            color: transparent;
            cursor: pointer;
            border-radius: 20px;
            opacity: 1;
            transition: opacity 0.4s ease;
            box-shadow: 1px 2px 8px rgb(36 65 93 / 30%);
            position: relative;
            padding: 0;
          }
        }
      }

      .banner__slider__item {

        &__holder {

          margin-top: 50px;

          h4 {
            color: #999999;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            position: relative;

            &:before {
              content: "";
              display: block;
              width: 16px;
              height: 1px;
              background-color: #999999;
              position: absolute;
              left: 38%;
              top: 8px;
            }
          }
        }
      }
    }
  }

  &__content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 645px;

    @media (max-width: 1199px) {
      min-height: 460px;
    }

    @media (max-width: 767px) {
      min-height: 295px;
      justify-content: flex-start;
    }
  }

  &__left__link {
    position: absolute;
    bottom: 42%;
    font-size: 16px;
    left: -168px;
    text-align: right;
    width: 385px;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 1.5px;
    transform: rotate(270deg);

    &:after {
      content: "";
      display: block;
      width: 40px;
      height: 1px;
      background-color: $secondary-color;
      position: absolute;
      right: -32px;
      top: 20px;
    }

    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 1px;
      background-color: $secondary-color;
      position: absolute;
      left: 25px;
      top: 16px;
    }

    @media (max-width: 1199px) {
      padding: 20px 35px;
      width: 460px;
      bottom: -60px;
    }

    @media (max-width: 767px) {
      bottom: 3px;
    }

    @media (max-width: 576px) {
      padding: 15px 25px;
      width: 410px;
      bottom: 15px;
    }

    span {
      font-size: 14px;
      @media (max-width: 576px) {
        font-size: 12px;
      }
    }

    a {
      color: $secondary-color;
      display: inline-block;
      padding: 0 10px;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__social__medias__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 42%;
    color: $secondary-color;

    a {
      display: flex;
      color: $secondary-color;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 0 10px;
      border: 1px solid $secondary-color;
    }

    p {
      transform: rotate(270deg);
      margin-bottom: 0;
      margin-top: 37px;
      letter-spacing: 1.5px;
    }

    @media (max-width: 767px) {
      padding-bottom: 15px;
    }

    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 62px;
      background-color: #4d4d4d;
      position: absolute;
      bottom: -104px;
    }

    &:before {
      content: "";
      display: block;
      width: 1px;
      height: 62px;
      background-color: #4d4d4d;
      position: absolute;
      top: -72px;
    }
  }
}
