.banner {
  margin: 120px 0 0;
  z-index: 1;
  position: relative;
  min-height: 815px;

  &__content__wrapper {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // min-height: px;

    @media (max-width: 1199px) {
      min-height: 460px;
    }

    @media (max-width: 767px) {
      min-height: 295px;
      justify-content: flex-start;
    }


    h2 {
      font-size: 55px;
      font-weight: 800;
      color: #006BDC;
      font-family: 'Manrope', sans-serif;
      position: relative;
      line-height: 58px;

      &:after {
        background-color: #D60812;
        content: "";
        position: absolute;
        width: 39px;
        height: 7px;
        bottom: -30px;
        z-index: 1;
        border-radius: 10px;
        left: 0;
      }

      @media (max-width: 1199px) {
        font-size: 50px;
      }

      @media (max-width: 576px) {
        font-size: 30px;
      }

    }

    p {
      font-size: 18px;
      color: #241e1e;
      margin: 55px 0 25px 0;
      line-height: 30px;

      @media (max-width: 767px) {
        font-size: 13px;
      }
    }
  }




  &__left__link {
    position: absolute;
    bottom: 42%;
    font-size: 16px;
    left: -168px;
    text-align: right;
    width: 385px;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 1.5px;
    transform: rotate(270deg);
    font-weight: 400;

    &:after {
      content: "";
      display: block;
      width: 40px;
      height: 1px;
      background-color: $secondary-color;
      position: absolute;
      right: -40px;
      top: 20px;
    }

    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 1px;
      background-color: $secondary-color;
      position: absolute;
      left: 50px;
      top: 16px;
    }

    @media (max-width: 1199px) {
      padding: 20px 35px;
      width: 460px;
      bottom: -60px;
    }

    @media (max-width: 767px) {
      bottom: 3px;
    }

    @media (max-width: 576px) {
      padding: 15px 25px;
      width: 410px;
      bottom: 15px;
    }

    span {
      font-size: 14px;
      @media (max-width: 576px) {
        font-size: 12px;
      }
    }

    a {
      color: $secondary-color;
      display: inline-block;
      padding: 0 5px;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__social__medias__holder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0px;
    bottom: 38%;
    color: #4D4D4D;

    a {
      display: flex;
      color: #4D4D4D;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 20px 10px 0;
      border: 2px solid #4D4D4D;
      transition: background-color 0.4s ease;

      &:hover {
        background-color: $primary-color;
        color: $white-color;
        border: transparent;
      }
    }

    p {
      transform: rotate(270deg);
      margin-bottom: 0;
      margin-top: 37px;
      letter-spacing: 1.5px;
      transform: rotate(270deg);
      margin-bottom: 20px;
      margin-top: 37px;
      letter-spacing: 1.5px;
      margin-right: -12px;
    }

    @media (max-width: 767px) {
      padding-bottom: 15px;
    }

    &:after {
      content: "";
      display: block;
      width: 2px;
      height: 62px;
      background-color: #4d4d4d;
      position: absolute;
      bottom: -90px;
      right: 35px;
    }

    &:before {
      content: "";
      display: block;
      width: 2px;
      height: 62px;
      background-color: #4d4d4d;
      position: absolute;
      top: -72px;
      right: 40px;
    }
  }
  .slick-slider-1 {

    .slick-dots {
      position: absolute;
      width: 100%;
      text-align: center;
      padding: 10px 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: -35px;

      .slick-active {

        button {
          background: #fff;
          opacity: 1;
          border: 4px solid #006BDC;
          height: 16px;
          width: 16px;
        }
      }

      li {
        display: inline-block;
        margin: 0 14px 0 0;

        button {
          border: 0;
          background: #888787;
          display: block;
          height: 8px;
          width: 8px;
          outline: 0;
          color: transparent;
          cursor: pointer;
          border-radius: 20px;
          opacity: 1;
          transition: opacity 0.4s ease;
          box-shadow: 1px 2px 8px rgb(36 65 93 / 30%);
          position: relative;
          padding: 0;
        }
      }
    }

    .banner__slider__item {

      &__holder {

        margin-top: 55px;

        figure {
          img {
            margin: 0 auto;
          }
        }

        h4 {
          color: #999999;
          font-weight: 600;
          font-size: 14px;
          text-align: center;
          position: relative;
          margin-top: -27px;

          &:before {
            content: "";
            display: block;
            width: 16px;
            height: 1px;
            background-color: #999999;
            position: absolute;
            left: 40%;
            top: 9px;
          }
        }
      }
    }
  }
}
