.blog {
  padding: 80px 0px;
  background-image: url(../images/place-holder/global-bg-blog.png);
  background-color: $primary-color;
  background-size: cover;
  background-position: bottom;


  &__latest__outer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__main__news {
    background: #006bdca3;
    color: $white-color;
    border: 1px solid#0A8DFF;
    box-shadow: 0px 2px 18px -12px rgb(0 0 0 / 55%);
    padding: 20px;
    margin-top: 40px;
    border-radius: 40px;

    figure {
      max-width: 490px;
      height: 260px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }

    h6 {
      margin-top: 15px;
      margin-bottom: 0;
      font-weight: 600;
      font-size: 12px;
    }

    h4 {
      font-size: 35px;
      line-height: 50px;
      font-weight: 800;
      margin-bottom: 10px;
    }
  }

  &__list {
    padding-right: 20px;
    position: relative;
    overflow-y: scroll;
    height: 661px;
    overflow-x: hidden;

    &__news {
      background: #006bdca3;
      color: $white-color;
      border: 1px solid#0A8DFF;
      box-shadow: 0px 3px 29px -17px rgb(0 0 0 / 75%);
      padding: 20px;
      border-radius: 35px;
      margin: 0 0 50px 0;
      transition: all 0.5s;

      &:hover &__details{
        p,
        h5,h6 {
          color: #000;
        }
      }

      &:hover  {
        background: $white-color;
      }

      a {
        display: flex;
        figure {
          width: 230px;
          height: 145px;
          flex: 0 0 auto;

          img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
          }
        }
      }
      &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;

        h6 {
          font-size: 15px;
          color: $yellowish-color;
        }

        p {
          font-size: 18px;
          font-weight: 600;
          color: $white-color;
          transition: all 0.5s;
          line-height: 20px;
        }

        h5 {
          font-size: 15px;
          font-weight: 500;
          color: $white-color;
          transition: all 0.5s;
        }
      }
    }
  }
}


#scroll-news::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(61, 61, 61, 0.644);
}

::-webkit-scrollbar-thumb {
  background: $yellowish-color;
  border-radius: 20px;
}
