.blog {
  padding: 50px 0px;
  background-image: url(../images/place-holder/global-bg-blog.png);
  background-color: $primary-color;
  background-size: cover;
  background-position: bottom;

  &__main__news {
    background: $primary-color;
    color: $white-color;
    border: 1px solid#0A8DFF;
    box-shadow: 0px 13px 37px -18px rgb(0 0 0 / 75%);
    padding: 20px;
    border-radius: 20px;

    figure {
      img {
        border-radius: 20px;
      }
    }

    h6 {
      margin-top: 10px;
      margin-bottom: 0;
      font-weight: 600;
      font-size: 12px;
    }

    h4 {
      font-size: 35px;
      line-height: 50px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  &__list {
    padding-right: 15px;
    position: relative;
    overflow-y: scroll;
    height: 620px;
    overflow-x: hidden;

    &__news {
      background: $primary-color;
      color: $white-color;
      border: 1px solid#0A8DFF;
      box-shadow: 0px 3px 29px -17px rgb(0 0 0 / 75%);
      padding: 20px;
      border-radius: 40px;
      margin-bottom: 30px;

      a {
        display: flex;
        figure {
          min-width: 230px;
          height: 145px;

          img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
          }
        }
      }
      &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;

        h6 {
          font-size: 15px;
          color: $yellowish-color;
        }

        p {
          font-size: 18px;
          font-weight: 600;
          color: $white-color;
        }

        h5 {
          font-size: 15px;
          font-weight: 500;
          color: $white-color;
        }
      }
    }
  }
}

#scroll-news::-webkit-scrollbar {
  width: 7px !important;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background:$yellowish-color;
  border-radius: 20px;
}

.test {
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url(/images/icons/scroll-top-icon.png);
  width: 20px;
  height: 20px;
}
