
.clients {
    background: $greenish-white;
    padding: 60px 0px;

    &__list {
        display: flex;

        li {
            margin-right: 20px;

            figure {
                background: $white-color;
                border: 1px solid #ebebeb;
                border-radius: 12px;
                padding: 10px;

                &:hover > img{
                    filter: grayscale(0%);
                }

                img {

                    width: auto;
                    display: block;
                    margin: 0 auto;
                    filter: grayscale(100%);
                }
            }
        }

    }
}
