.events {
  padding: 80px 0px;
  background-image: url(../images/bg/bg-curves.png);
  background-color: $greenish-white;
  background-size: cover;
  background-position: bottom;
  box-shadow: 0px 14px 21px -22px rgb(0 0 0);
  min-height: 1180px;

  .slick-slider-4 {
    .slick-arrow {
      border: 0;
      background-color: $primary-color;
      display: block;
      height: 50px;
      width: 50px;
      outline: 0;
      color: transparent;
      cursor: pointer;
      border-radius: 50%;
      opacity: 1;
      transition: opacity 0.4s ease;
      position: absolute;
      padding: 0;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      bottom: -15%;
    }

    .slick-next {
      background-color: $secondary-color;
      background-image: url(../images/icons/chevron-right.svg);
      left: 51%;
    }

    .slick-prev {
      background-color: $teritary-color;
      background-image: url(../images/icons/chevron-left.svg);
      right: 51%;
    }
  }

  &__slider__item {
    background-color: #ebedef;
    height: 465px;
    border: 1px solid #ffff;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 6px 35px -18px rgb(0 0 0 / 75%);
    overflow: hidden;
    max-width: 340px;
    height: 360px;
    position: relative;

    &:nth-child(2) {
      margin: 50px 0px;
    }

    &__pic {
      margin: auto;
      position: relative;

      &:hover .events__pic__overlay {
        display: flex;
      }

      .events__pic__overlay {
        position: absolute;
        left: 20px;
        transition: all 0.5s ease-in;
        background-color: #d60812;
        height: 86%;
        width: 86%;
        padding: 20px;
        overflow: hidden;
        top: 20px;
        display: flex;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 30px;
        opacity: 0.9;

        & figure {
          margin: auto;
        }

        h6 {
          font-size: 28px;
          color: $greenish-white;
        }
      }

      img {
        // width: 100%;
        // height: 100%;
        // object-fit: cover;
        border-radius: 40px;
      }
    }
  }
}
