.location {
  padding: 80px 0px;
  background-image: url(/images/bg/bg-world-globe.jpg);
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 14px 21px -22px rgb(0 0 0);
  z-index: -1;

  &:after {
    content: "";
    position: absolute;
    background: url(../images/bg/blue-dotted-below.png) no-repeat;
    width: 284px;
    height: 181px;
    left: 0;
    bottom: -31px;
    background-size: 280px;
    background-position: bottom;
  }
  &:before {
    content: "";
    position: absolute;
    background: url(../images/bg/blue-dotted-bg.png) no-repeat;
    width: 140px;
    height: 150px;
    right: 0;
    top: 0px;
    background-size: 200px;
  }

  &__holder {
    border: 20px solid $greenish-white;
    border-radius: 40px;
    box-shadow: 0px 6px 29px -10px rgb(0 0 0 / 23%);
    position: relative;
    overflow: hidden;
    margin: 142px 0 15px 0;
    height: 375px;

    &.parent-company {
        img {
          object-fit: none;
          object-position: right;
        }

    }

    &.native-company {
      img {
        object-fit: none;
      }
    }

    & figure {
      height: 100%;

      iframe {
        border-radius: 30px;
      }
    }

    &__address__left {
      display: flex;
      color: #F7F9FC;
      position: absolute;
      top: 31%;
      left: 5%;
      background: #006bdceb;
      border-radius: 20px;
      padding: 15px;
      align-items: center;
      padding: 15px;
      width: 410px;

        &:after {
            content: "";
            background: url(../images/icons/copy-click.svg) no-repeat;
            background-position: center;
            background-color: #0A8DFF;
            position: absolute;
            width: 28px;
            height: 28px;
            right: 11px;
            z-index: 1;
            border-radius: 5px;
            top: 10px;
        }
        &:before {
          content: "";
          position: absolute;
          left: 45%;
          border-width: 15px;
          border-style: solid;
          border-color: #006bdceb transparent transparent transparent;
          bottom: -30px;
        }
        & figure {
          max-width: 90px;
          height: 90px;
          flex: 0 0 auto;


            img {
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }
        }

      &__details {
        padding: 0 0 0 15px;

        h4 {
            font-size: 19px;
            margin-bottom: 0px;
          }

          p {
            font-size: 16px;
            display: block;
          }
      }
    }
    &__address__right {
      display: flex;
      color: #F7F9FC;
      position: absolute;
      top: 34%;
      left: 6%;
      background: #006bdceb;
      border-radius: 20px;
      padding: 15px;
      align-items: center;
      padding: 15px;
      width: 410px;
      &:after {
        content: "";
        background: url(../images/icons/copy-click.svg) no-repeat;
        background-position: center;
        background-color: #0A8DFF;
        position: absolute;
        width: 28px;
        height: 28px;
        right: 11px;
        z-index: 1;
        border-radius: 5px;
        top: 10px;
    }
    &:before {
      content: "";
      position: absolute;
      left: 45%;
      border-width: 15px;
      border-style: solid;
      border-color: #006bdceb transparent transparent transparent;
      bottom: -30px;
    }
    & figure {
      max-width: 90px;
      height: 90px;
      flex: 0 0 auto;


        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
    }

  &__details {
    padding: 0 0 0 15px;

    h4 {
        font-size: 19px;
        margin-bottom: 0px;
      }

      p {
        font-size: 16px;
        display: block;
      }
  }

    }
  }

  &__name {
    font-size: 40px;
    color: $secondary-color;
    font-weight: 700;
    text-align: center;
  }

  &__one {
    background: url(../images/icons/applab-location-icon.png) no-repeat;
    position: absolute;
    top: 27%;
    left: 44%;
    width: 35px;
    height: 44px;
    border-radius: 50%;
    background-size: contain;
  }

  &__two{
    position: absolute;
    top: 41%;
    right: 46%;
    width: 5px;
    height: 5px;
    background-color: #0a8dff8c;
    border-radius: 50%;
    animation: boom-out 1.5s linear infinite;

      @keyframes boom-out {
        0% {
          box-shadow: 0 0 0 0 rgba($primary-color, 0.3),
                      0 0 0 15px rgba($primary-color, 0.3),
                      0 0 0 30px rgba($primary-color, 0.3);
                      // 0 0 0 25px rgba($primary-color, 0.3);
        }
        100% {
          box-shadow: 0 0 0 15px rgba($primary-color, 0.3),
                      0 0 0 30px rgba($primary-color, 0.3),
                      // 0 0 0 25px rgba($primary-color, 0.3),
                      0 0 0 45px rgba($primary-color, 0);
        }
      }


    &:before {
      content: "";
      background: url(../images/icons/appstation-icon.png) no-repeat;
      background-position: center;
      position: absolute;
      width: 40px;
      height: 40px;
      top: -30px;
      background-size: contain;
      right: -19px;
    }
  }

  }

