.our__works {
  padding: 50px 0 120px 0;
  position: relative;

  .slick-slider-2 {
    .slick-arrow {
      border: 0;
      background-color: $primary-color;
      display: block;
      height: 50px;
      width: 50px;
      outline: 0;
      color: transparent;
      cursor: pointer;
      border-radius: 50%;
      opacity: 1;
      transition: opacity 0.4s ease;
      position: absolute;
      padding: 0;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      bottom: -22%;
    }

    .slick-prev {
        background-image: url(../images/icons/chevron-right.svg);
      left: 51%;
    }

    .slick-next {
        background-image: url(../images/icons/chevron-left.svg);
      right: 51%;
    }
  }

  &__slider__item {
    background-color: #f6f6f6;
    height: 465px;
    border: 1px solid #ffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 6px 35px -18px rgb(0 0 0 / 75%);
    overflow: hidden;

    &__holder {
      background: #ffff;
      border: 20px solid #ffff;
      border-radius: 20px;

      figure {
        img {
          width: 100%;
        }
      }

      .item__details {
          padding: 20px 10px 0;
        h6 {
          font-size: 12px;
          color: #ffb71b;
          text-transform: lowercase;
        }

        h4 {
          font-size: 20px;
          font-weight: 600;
          color: #000000;
        }

        p {
          font-size: 13px;
          font-weight: 600;
          color: #000000;
        }
      }
    }
  }

  figure.particle {
    position: absolute;
  }
    .blue__star {
        top: 4%;
        left: 2%;
        animation: round1 5s infinite;
        @keyframes round1 {
            0% {
              transform: translateX(0);
            }
            25% {
              transform: rotate(-30deg);
            }
            50% {
                transform: rotate(60deg);
              }
              75% {
                transform: rotate(90deg);
              }
              100% {
                transform: rotate(0deg);
              }
          }
    }
     .yellow__dot {
        top: 42%;
        left: 9%;
        animation: rotateYLogo2 2s infinite ease-in-out;
        @keyframes rotateYLogo2 {
            0% {
              transform: translateZ(0)scale(1);
            }
            50% {
              transform: translateZ(150px)scale(0.7);
            }
            80% {
              transform: translateZ(0) scale(1);
            }
            100% {
              transform: translateZ(0)cale(1);
            }
          }
    }
    .red__diamond {
        bottom: 5%;
        left: 2%;
        animation: shake2 5s infinite;
        @keyframes shake2 {
            0% {
              transform: translateX(0);
            }
            25% {
              transform: rotate(-30deg);
            }
            50% {
                transform: rotate(30deg);
              }
          }
    }
    .yellow__diamond {
        top: 10%;
        right: 25%;
        animation: shake1 5s infinite;
        @keyframes shake1 {
            0% {
              transform: translateX(0);
            }
            25% {
              transform: rotate(-30deg);
            }
            50% {
                transform: rotate(30deg);
              }
          }
    }
     .red__star {
        top: 25%;
        right: 5%;
        animation: rotateYLogo1 2s infinite ease-in-out;
        @keyframes rotateYLogo1 {
            0% {
              transform: translateZ(0)scale(1);
            }
            50% {
              transform: translateZ(150px)scale(0.7);
            }
            80% {
              transform: translateZ(0) scale(1);
            }
            100% {
              transform: translateZ(0)cale(1);
            }
          }
    }
    .blue__dot {
        bottom: 8%;
        right: 2%;
        animation: dot-jump 5s infinite;
        @keyframes dot-jump {
            0% {
              transform: translateY(0);
            }
            25% {
              transform: translateY(25px);
            }

            50% {
              transform: translateY(0px);
            }
            80% {
              transform: translateY(25px);
            }
            100% {
              transform: translateY(0px);
            }
          }
    }
}
