.our__work {
    padding: 60px 0px;

    &__heading__desc {
        font-family: $font-stack-2;
        font-size: 16px;
        line-height: 26px;
        color: #000;
        font-weight: 300;
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 26px;
        }
    }
    &__slider {
        &__item {
            margin: 0;
            padding-right: 30px;
            overflow: hidden;
            position: relative;

            @media (max-width: 767px) {
                padding-right: 0px;
            }

            &__holder {
                background: rgb(242, 243, 246);
                background-image: linear-gradient(289deg, rgba(242, 243, 246, 1) 0%, rgba(255, 255, 255, 1) 100%);
                box-shadow: 3px 3px 20px rgb(36 65 93 / 30%);
                transition: all 0.6s ease;
                border-radius: 20px;
                margin: 30px 0px;
            }

            figure {
                img {
                    width: 100%;
                }
            }
            .item__details {
                padding: 40px;
                @media (max-width: 767px) {
                    padding:20px;
                }
                h6 {
                    text-transform: uppercase;
                    font-size: 22px;
                    color: $secondary-color;
                    margin-bottom: 5px;
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }
                h4 {
                    font-size: 32px;
                    color: #4d4d4d;
                    font-weight: 500;
                    @media (max-width: 767px) {
                        font-size: 25px;
                    }
                }
                p {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 26px;
                    color: #4d4d4d;
                    margin: 20px 0px;
                    @media (max-width: 767px) {
                        font-size: 13px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
    .slick-slider-1 {
        .slick-arrow {
            position: absolute;
            top: 43%;
            border: none;
            z-index: 5;
            width: 100px;
            height: 100px;
            text-indent: -9999px;
            box-shadow: #ecf1f5 7px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
            border-radius: 20px;
        }
        .slick-prev {
            background: url("../images/icons/slide-prev.svg") no-repeat;
            left: -116px;
            background-position: center;
        }
        .slick-next {
            background: url("../images/icons/slide-next.svg") no-repeat;
            right: -105px;
            background-position: center;
        }
        .slick-dots {
            position: absolute;
            width: 100%;
            text-align: center;
            padding: 10px 0 10px;

            .slick-active {
                button {
                    background: $primary-color;
                    opacity: 1;
                }
            }

            li {
                display: inline-block;
                margin: 0 4px;

                button {
                    border: 0;
                    background: white;
                    display: block;
                    height: 14px;
                    width: 14px;
                    outline: 0;
                    color: transparent;
                    cursor: pointer;
                    border-radius: 20px;
                    opacity: 1;
                    transition: opacity 0.4s ease;
                    box-shadow: 1px 2px 8px rgb(36 65 93 / 30%);
                    position: relative;
                    padding: 0;
                }
            }
        }
    }
}
