.services {
  padding: 80px 0px;
  min-height: 700px;
  background: $greenish-white;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    background: url(../images/bg/big-arrow-dotted.png) center center no-repeat;
    width: 203px;
    height: 260px;
    left: -70px;
    bottom: 80px;
  }
  &:before {
    content: "";
    position: absolute;
    background: url(../images/bg/small-arrow-dotted.png) center center no-repeat;
    width: 255px;
    height: 254px;
    right: -92px;
    top: 100px;
    background-size: cover;
  }

  &__holder {
    border: 1px solid #fff;
    border-radius: 30px;
    background: $greenish-white;
    box-shadow: 0px 2px 36px 2px rgb(0 0 0 / 15%);
    transition: all 0.6s ease;
    padding: 15px;
    // height: 275px;
    position: relative;
    display: inline-block;
    transform: scale(1);
    overflow: hidden;
    margin-bottom: 50px;
    z-index: 2;

    &:hover {
      background: $teritary-color;
      box-shadow: -1px 9px 36px -14px rgba(0,0,0,1);
      border: 1px solid #D60812;
    }

    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      background: #fff;
      text-align: center;
      border-radius: 30px;
      padding: 30px;

      span {
        font-size: 21px;
        color: #575f6b;
        font-weight: 700;
        margin: 15px 0px;

        @media (min-width: 1400px) {
          margin: 10px 0px;
        }
      }

      p {
        font-size: 15px;
        color: $secondary-color;

      }
    }
  }
}
