.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
  z-index: 10;
  left: 0;
  top: 0px;


  .nav__wrapper {
    padding: 30px 0px;
  }

  @media (max-width: 767px) {
    height: 90px;
    margin: 0;
  }

  .header__logo__holder {

    @media (max-width: 767px) {
      padding-top: 0px;
    }

  }

  &__nav__holder {

    @media (max-width: 767px) {
      padding: 20px 0 0 0;
    }

    .menu-open & {
      @media (max-width: 767px) {
        .nav__responsive {
          display: block;
          height: 100%;
          width: 100%;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          overflow-x: hidden;
          transition: 0.5s;
          padding: 45px 0px;

          .header__nav {

            ul {
              display: flex;
              flex-direction: column;
              margin: 40px 0px;

              li {

                a {
                  font-size: 20px;
                  padding: 5px 0px;
                }
              }
            }
          }
        }
      }
      .hamburger {
        .bar1 {
          transform: rotate(45deg) translate(6px, 3px);
        }
        .bar2 {
          transform: rotate(313deg) translate(-2px, -3px);
        }
        .bar3 {
          opacity: 0;
        }
      }
    }

    .nav__responsive {

      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        position: absolute;
        right: -20px;
        top: 100%;
        background: #ffffff;
        padding: 10px;
        display: none;
        box-shadow: 5px 3px 16px rgb(0 0 0 / 16%);
        min-height: 500px;
        justify-content: center;
        text-align: center;
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: 0.5s;
        padding: 45px 0px;
      }
    }
    .header__nav {

      ul {
        display: flex;
        @media (max-width: 767px) {
          flex-direction: column;
          margin: 40px 0px;
        }

        li {

          a {
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #4d4d4d;
            margin: 0px 33px 0px 0px;
            position: relative;
            z-index: 0;
            text-decoration:none;
            letter-spacing: 1px;

            @media (max-width: 767px) {
              font-size: 20px;
              padding: 5px 0px;
            }

            @media (max-width: 991px) {
              padding: 0px 5px 0px 10px;
            }

            &:hover {
              &:after {
                width: 100%;
              }
              color:$primary-color;
            }

            &:after {
              position: absolute;
              right: 0px;
              left: 0;
              bottom: 0;
              display: inline-block;
              content: "";
              width: 0;
              height: 1px;
              background-color: $primary-color;
              transition: width 0.3s;
            }
          }
        }
      }
    }

    .hamburger {
      cursor: pointer;
      margin: 0 0 0 20px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 0.4s;
      text-align: center;
      display: flex;
      display: none;
      background-color: $primary-color;
      position: relative;
      z-index: 1;

      @media (max-width: 767px) {
        display: flex;
        margin: 0 0 0 5px;
      }

      @mixin bar {
        height: 2px;
        border-radius: 50px;
        background-color: #ffffff;
        transition: 0.4s;
        display: block;
        width: 25px;
        position: absolute;
      }

      .bar1,
      .bar5 {
        @include bar;
        top: 15px;
        height: 3px;
      }

      .bar2,
      .bar4 {
        @include bar;
        top: 22px;
        right: 5px;
      }

      .bar3 {
        @include bar;
        bottom: 14px;
      }
    }
  }
}

.top__bottom__border {
  height:4px;
  background: $primary-color;
  background-image: linear-gradient(to right, $primary-color 0%, $primary-color 17%, $teritary-color 17%, $teritary-color 33%,
  $primary-color 33%, $primary-color 49%,$teritary-color 49%, $teritary-color 65%,$primary-color 65%, $primary-color 80%,
  $teritary-color 80%, $teritary-color 100%,);
}
