.footer {
  padding: 40px 0px;
  background-color: $greenish-white;

  @media (max-width: 991px) {
    padding: 35px 0 0px 0;
  }

  &__nav__menu {

    ul {
      display: flex;
      margin: 20px 0px;

      li {

        a {
          font-size: 14px;
          font-weight: 500;
          color: #4d4d4d;
          text-transform: uppercase;
          z-index: 0;
          cursor: pointer;
          margin: 0 12px;
          position: relative;

          @media (min-width: 1199px) {
            font-size: 13px;
          }

          &:hover {

            &:after {
              width: 100%;
            }
            color:$primary-color ;
          }

          &:after {
            position: absolute;
            right: 0px;
            bottom: 0;
            left: 0;
            display: inline-block;
            content: "";
            width: 0;
            height: 1px;
            background-color: $primary-color;
            transition: width 0.3s;
          }
        }
      }
    }
  }

  &__social__media {

    h3 {
      display: flex;
      align-items: center;
      color: $secondary-color;
      font-size: 15px;
    }

    a {
      margin: 0 20px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;

      i {
        color: #7a7a7a;
        font-size: 18px;
      }

      &:hover {

        i {
          color: $primary-color;
        }
      }
    }

    p {
      font-size: 16px;
      color: #575f6b;
      margin-bottom: 20px;

      a {
        color: #d60812;
        text-decoration: underline;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  &__copy__right {
    font-size: 14px;
    margin: -18px 0 0 0;

    p {
      font-size: 18px;
      color: #241e1e;
      letter-spacing: 2px;
      display: flex;
      margin-bottom: 0;
      align-items: baseline;

      span {
        font-size: 38px;
        color: $teritary-color;
        padding: 0 10px;
      }
    }
  }
}
