.btn {

  &__nav {
    background-color: $primary-color;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-family: $font-stack-1;
    padding: 14px 32px;
    margin: 0 10px 0 10px;
    transition: all 0.5s;
    display: inline-block;
    box-shadow: 0px 13px 37px -12px rgba(0, 107, 220, 0.75);
    white-space: break-spaces;

    &:hover {
      border: 1px solid $primary-color;
      background: #fff;
      color: $primary-color;
    }

    &--hero-btn {
      box-shadow: none;
      padding: 10px 25px;
      position: relative;
      width: 160px;

      &:after {
        content: "";
        display: block;
        width: 38px;
        height: 10px;
        background: url(../images/icons/forward-arrow.svg) 0 0 no-repeat;
        background-size: contain;
        position: absolute;
        right: 18px;
        top: 16px;
      }

      &--view-more {
        background-color: $yellowish-color;
        box-shadow: none;
        width: 180px;
        padding: 10px 32px;

        &:after {
          content: "";
          display: block;
          width: 38px;
          height: 10px;
          background: url(../images/icons/forward-arrow.svg) 0 0 no-repeat;
          background-size: contain;
          position: absolute;
          right: 26px;
          top: 16px;
        }
      }
      &--get-in-touch {
        background-color: $teritary-color;
        display: block;
        font-weight: 600;
        padding: 10px 25px;
        width: 197px;
        margin: 25px auto;
        box-shadow: none;
        &:after {
          content: "";
          display: block;
          width: 38px;
          height: 10px;
          background: url(../images/icons/forward-arrow.svg) 0 0 no-repeat;
          background-size: contain;
          position: absolute;
          right: 26px;
          top: 16px;
        }

      }

    }
    &--load-more {
      text-align: center;
      font-weight: 600;
      padding: 10px 20px;
      width: 137px;
      margin: 25px auto;
      box-shadow: none;
    }
    &--upload-btn {
      display: block;
      text-align: center;
      font-weight: 600;
      padding: 10px 20px;
      width: 228px;
      margin: 25px auto;
      box-shadow: none;
    }
  }
}
