body {
  font-family: 'Manrope', sans-serif !important;
}

.container {
  max-width: 1300px;
  width: auto;
}

.heading {
  &__main {
    position: relative;
    font-size: 45px;
    line-height: 50px;
    font-weight: 800;
    color: $secondary-color;

    &.small-font {
      font-size: 40px;
    }

    &.small-size {
      font-size: 35px;
    }

    &:after {
      content: "";
      background-color: $teritary-color;
      position: absolute;
      width: 39px;
      height: 7px;
      bottom: -25px;
      z-index: 1;
      border-radius: 10px;
      left: 0;
    }

    &--reddish {
      &:after {
        background-color: $teritary-color;
        content: "";
        position: absolute;
        width: 39px;
        height: 7px;
        bottom: -25px;
        z-index: 1;
        border-radius: 10px;
        left: 0;
      }
    }

    &--blueish {
      &:after {
        background-color: $primary-color;
        content: "";
        position: absolute;
        width: 39px;
        height: 7px;
        bottom: -25px;
        z-index: 1;
        border-radius: 10px;
        left: 0;
      }
    }

    &--light-color {
      color: $white-color;

      &:after {
        background-color: $yellowish-color;
        content: "";
        position: absolute;
        width: 39px;
        height: 7px;
        bottom: -25px;
        z-index: 1;
        border-radius: 10px;
        left: 0;
      }
    }
    &--get-in-touch {

      &:after {
        background-color: $yellowish-color;
        content: "";
        position: absolute;
        width: 39px;
        height: 7px;
        bottom: -25px;
        z-index: 1;
        border-radius: 10px;
        left: 0;
      }
    }
  }

  @media (max-width: 991px) {
    font-size: 30px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
  @media (max-width: 576px) {
    padding: 0 0 10px 5px;
  }
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  position: relative;

    &--primary__colored {
      color: $primary-color;
    }

    &--yellow__colored {
      color: $yellowish-color;
    }

    &--reddish {
      color: $teritary-color;
    }

    &--dark__color {
      color: $teritary-color;
    }
}
