
.container {
  max-width: 1120px;
  width: auto;
}

h2 {
  position: relative;
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  color: $secondary-color;

  &:after {
    content: "";
    background-color: $teritary-color;
    position: absolute;
    width: 39px;
    height: 7px;
    color: #ffffff;
    bottom: -25px;
    z-index: 1;
    border-radius: 10px;
    left: 0;
  }

  @media (max-width: 991px) {
    font-size: 30px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
  @media (max-width: 576px) {
    padding: 0 0 10px 5px;
  }

}

.section__titles {
  font-size: 18px;
  font-weight: 600;
  color: $teritary-color;

  // .primary__color__heading {

  // }
}