html {
    scroll-behavior: smooth;
}

ol, ul, li, figure {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

